{% extends 'base.html' %}
{% load static widget_tweaks %}


{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-12 col-sm-10 col-md-8 col-lg-7 col-xl-6">
        <div class="card shadow p-5">
            <h3 class="text-center mb-4">Login</h3>
            
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="mb-4">
                        <label class="form-label">{{ field.label }}</label>
                        {{ field|add_class:"form-control form-control-lg" }}
                        {% if field.errors %}
                            <div class="text-danger small">{{ field.errors|striptags }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
                <div class="d-grid">
                    <button type="submit" class="btn btn-primary btn-lg">Entrar</button>
                </div>
            </form>
        </div>
    </div>
</div> 
{% endblock %}
