<!-- templates/colaboradores/editar_colaborador.html -->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Colaborador</title>
</head>
<body>

<h2>Editar Colaborador</h2>

<h2>Atribuir Treinamento a Colaborador</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Salvar</button>
</form>

<a href="{% url 'listar_colaboradores' %}">Cancelar</a>

</body>
</html>
