<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exibir Usuários</title>
</head>
<body>
    <h2>Colaboradores</h2>

    <ul>
        <li><a href="{% url 'home' %}">Página Inicial</a></li>
        <li><a href="{% url 'listar_colaboradores' %}">Listar Colaboradores</a></li>
        <li><a href="{% url 'listar_treinamentos' %}">Listar Treinamentos</a></li>
        <li><a href="{% url 'login' %}">logout</a></li>
    </ul>
    
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>CPF</th>
                <th>Data de Nascimento</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>Cargo</th>
                <th>Data de Admissão</th>
                <th>Matrícula</th>
            </tr>
        </thead>
        <tbody>
            {% for colaborador in colaboradores %}
                <tr>
                    <td>{{ colaborador.nome }}</td>
                    <td>{{ colaborador.sobrenome }}</td>
                    <td>{{ colaborador.cpf }}</td>
                    <td>{{ colaborador.data_nascimento|date:"d/m/Y" }}</td>
                    <td>{{ colaborador.email }}</td>
                    <td>{{ colaborador.telefone }}</td>
                    <td>{{ colaborador.cargo }}</td>
                    <td>{{ colaborador.data_admissao|date:"d/m/Y" }}</td>
                    <td>{{ colaborador.matricula }}</td>
                    <td>
                        <form action="{% url 'listar_treinamentos_colaborador' colaborador.id %}" method="get" style="display: inline;">
                            <button type="submit">Visualizar</button>
                        </a>
                        </form>

                        <form action="{% url 'editar_colaborador' colaborador.id %}" method="get" style="display:inline;">
                            <button type="submit">Editar</button>
                        </form>

                        <form action="{% url 'excluir_colaborador' colaborador.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir este colaborador?');">Excluir</button>
                        </form>
                    </td>
                </tr>

            {% endfor %}
            <a href="{% url 'cadastrar_colaborador' %}">Cadastrar Colaborador</a>
        </tbody>
    </table>

</body>
</html>